@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #fafafa;
  color: #1f2937;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

}

img {
  display: block;
  max-width: 100%;
}

::selection {
  background: #d86aa2;
  color: white;
}

/* scrollbar douce */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #eec8da;
  border-radius: 999px;
}